<div class="row mb-5">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand">Muhammad Hairie Izwan AEM Test</a>
        <a class="nav-item nav-link ml-auto" >
            <button type="button" class="btn-primary" (click)="logout()">Logout</button>
        </a>
    </nav>
</div>
<div class="card">
    <h4 class="card-header">Overview</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
                        <div>
                            <canvas
                                baseChart
                                [chartType]="'doughnut'"
                                [datasets]="donutData"
                                [labels]="donutLabels"
                                [options]="chartOptions"
                                [legend]="true">
                            </canvas>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
                        <div>
                            <canvas
                                baseChart
                                [chartType]="'bar'"
                                [datasets]="chartData"
                                [labels]="chartLabels"
                                [options]="chartOptions"
                                [legend]="true">
                            </canvas>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">   
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card mt-5">
                    <div class="card-header">
                        <h4>User List</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-bordered table-layout-fixed">
                            <tbody class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                </tr>
                                <tr *ngFor="let user of users">
                                    <td>{{user.id}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.role}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

